<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kimboo.example1">

    <application>
        <activity android:name=".ui.examplezip1.ExampleZip1Activity"
            android:parentActivityName="com.kimboo.examples.ui.MainActivity"
            android:launchMode="singleTop" />
        <activity android:name=".ui.examplezip2.ExampleZip2Activity"
            android:parentActivityName="com.kimboo.examples.ui.MainActivity"
            android:launchMode="singleTop" />
    </application>

</manifest>
